<div class="section-wrapper">
    <section class="section about" id="about">
        <div id="about-text">
            <div class="section-heading">Sobre</div>
            <p class="paragraph-text justify-text">
                Olá! 👋 Sou um entusiasta da tecnologia em transição de carreira para o desenvolvimento de software. Atualmente, estou cursando Ciência da Computação e aprimorando minhas habilidades na Trybe, uma escola que me proporciona uma visão completa do desenvolvimento web.
                Ao longo da minha jornada, desenvolvi projetos abrangentes, desde aplicações interativas com React até a construção de APIs robustas com Node.js. Estou focado em aprimorar minhas habilidades em JavaScript, React, TypeScript e Python.
            </p>
            <p class="paragraph-text justify-text">
                Engajado em cursos como Ciência da Computação de Harvard e prático na abordagem da Trybe, busco constantemente aprender e crescer. Minha versatilidade me permite adaptar-me a novos desafios e tecnologias.
            </p>
            <p class="paragraph-text justify-text">
                Eu posto meus projetos de software em <a href="https://github.com/{{ site.github_username }}">GitHub</a>. Meu endereço de email para contatos pode ser encontrado <span class="extra-link"><a href="#extra">logo abaixo</a></span> desta página.
            </p>
        </div>
    </section>
</div>
