<div class="section-wrapper">
    <section class="section extra" id="extra">
        <div>
            <div class="section-heading" id="chat-text">Contact</div>
            <p class="paragraph-text justify-text">
                Eu adoraria ouvir de você! Estou aberto a colaborações, especialmente em projetos de código aberto. Oportunidade de trabalho interessante? Ou quer conversar? Contate-me!
            </p>
            <p class="paragraph-text justify-text">
                Fique à vontade para me escrever sobre qualquer coisa: <a href="mailto:{{ site.email }}">{{ site.email }}</a>. Responderei em breve.
            </p>
            <p class="paragraph-text justify-text">
                Meu currículo está disponível aqui: <a href="assets/Curriculo.pdf">PDF</a>, <a href="assets/Curriculo.docx">DOC</a>
            </p>
            <div class="extra-links">
                <span class="hint--bottom bottom-link" aria-label="Email">
                    <a href="mailto:{{ site.email }}"><i class="head-icon fas fa-envelope"></i></a>
                </span>
                <!-- <span class="hint--bottom bottom-link" aria-label="PGP Key">
                    <a href="#"><i class="head-icon fas fa-key"></i></a>
                </span> -->
                <span class="hint--bottom bottom-link" aria-label="GitHub">
                    <a href="https://github.com/{{ site.github_username }}"><i class="head-icon fab fa-github"></i></a>
                </span>
                <!-- <span class="hint--bottom bottom-link" aria-label="Web Blog">
                    <a href="#"><i class="head-icon fas fa-rss"></i></a>
                </span> -->
                <span class="hint--bottom bottom-link" aria-label="Linkedin">
                    <a href="https://linkedin.com/in/jadsonmattos"><i class="head-icon fab fa-linkedin"></i></a>
                </span>
                <!-- <span class="hint--bottom bottom-link" aria-label="Keybase">
                    <a href="#"><i class="head-icon fab fa-keybase"></i></a>
                </span> -->
                <!-- <span class="hint--bottom bottom-link" aria-label="Reddit">
                    <a href="https://www.reddit.com/u/{{ site.reddit_username }}"><i class="head-icon fab fa-reddit"></i></a>
                </span>
                <span class="hint--bottom bottom-link" aria-label="Twitter">
                    <a href="https://twitter.com/{{ site.twitter_username }}"><i class="head-icon fab fa-twitter"></i></a>
                </span> -->
            </div>
        </div>
    </section>
</div>