<!-- .portfolio -->
<div id="portfolio" class="content_2">
    
    <!-- .title -->
    <h1 class="h-bloc">Portfolio - My Works</h1>

    <!-- .container-portfolio -->
    <div class="container-portfolio">

        <!-- #filters -->
        <ul id="filters" class="clearfix">
            <li><span class="filter active" data-filter="fundamentos frontend backend computacao">Todos</span></li>
            <li><span class="filter" data-filter="fundamentos">Fundamentos e Outros</span></li>
            <li><span class="filter" data-filter="frontend">Front-End</span></li>
            <li><span class="filter" data-filter="backend">Back-End</span></li>
            <li><span class="filter" data-filter="computacao">Ciência da Computação</span></li>
        </ul>
        <!-- /#filters -->

        <!-- #portfoliolist -->
        <div id="portfoliolist">

            <!-- {% for project in site.data.projects %}
                <div class="portfolio logo" data-cat="{{ project.category }}">
                    <div class="portfolio-wrapper">		
                        <a href="{{ project.url | default: '#' }}" rel="portfolio" title="{{ project.description | default: '' }}">
                            <img src="{{ project.image }}" alt="" />
                            <div class="label">
                                <div class="label-text">
                                    <a class="text-title">{{ project.name }}</a>
                                    <span class="text-category">{{ project.category }}</span>
                                </div>
                                <div class="label-bg"></div>
                            </div>
                        </a>
                    </div>
                </div>
            {% endfor %} -->
            
            <!-- .portfolio -->
            <div class="portfolio fundamentos" data-cat="fundamentos">	
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">		
                    <a href="/images/portfolio/lessons.png" rel="portfolio" title="Desenvolvimento de uma página HTML estilizada com CSS. Através desta aplicação, será possível realizar a construção de código HTML, posicionamento e estilização CSS.">
                        <img src="/images/portfolio/lessons.png" alt="" />
                        <div class="label">
                            <div class="label-text">
                                <a href="https://jadsonmattos.github.io/LessonsLearned" target="_blank" class="text-title">Lessons Learned</a>
                                <span class="text-category">Fundamentos</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>		
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio fundamentos" data-cat="fundamentos">	
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">		
                    <a href="/images/portfolio/calendar.png" rel="portfolio" title="Nesse calendário, você vai poder adicionar feriados e compromissos, além de adicionar as tarefas que você precisa realizar!">
                        <img src="/images/portfolio/calendar.png" alt="" />
                        <div class="label">
                            <div class="label-text">
                                <a href="https://jadsonmattos.github.io/Tryber-Calendar/" target="_blank" class="text-title">Calendar</a>
                                <span class="text-category">Fundamentos</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>		
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio fundamentos" data-cat="fundamentos">	
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">		
                    <a href="/images/portfolio/paleta.png" rel="portfolio" title="Paleta de Cores.">
                        <img src="/images/portfolio/paleta.png" alt="" />
                        <div class="label">
                            <div class="label-text">
                                <a href="https://jadsonmattos.github.io/Pixel-Arts/" target="_blank" class="text-title">Pixel-Arts</a>
                                <span class="text-category">Fundamentos</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>		
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio fundamentos" data-cat="fundamentos">	
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">		
                    <a href="/images/portfolio/todo.png" rel="portfolio" title="Lista de tarefas usando HTML, CSS e JavaScript">
                        <img src="/images/portfolio/todo.png" alt="" />
                        <div class="label">
                            <div class="label-text">
                                <a href="https://jadsonmattos.github.io/Todo-List/" target="_blank" class="text-title">To Do List</a>
                                <span class="text-category">Fundamentos</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>		
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio fundamentos" data-cat="fundamentos">	
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">		
                    <a href="/images/portfolio/meme.png" rel="portfolio" title="Aplicação usando HTML, CSS e JAVASCRIPT onde seja possível fazer upload de imagens para criar memes.">
                        <img src="/images/portfolio/meme.png" alt="" />
                        <div class="label">
                            <div class="label-text">
                                <a href="https://jadsonmattos.github.io/Meme-Generator/" target="_blank" class="text-title">Meme Generator</a>
                                <span class="text-category">Fundamentos</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>		
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio fundamentos" data-cat="fundamentos">	
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">		
                    <a href="/images/portfolio/color-guess.png" rel="portfolio" title="Nesta aplicação deverá ser possível jogar um jogo de adivinhação de cores.">
                        <img src="/images/portfolio/color-guess.png" alt="" />
                        <div class="label">
                            <div class="label-text">
                                <a href="https://jadsonmattos.github.io/Color-Guess/" target="_blank" class="text-title">Color Guess</a>
                                <span class="text-category">Fundamentos</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>		
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio fundamentos" data-cat="fundamentos">	
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">		
                    <a href="/images/portfolio/carta.png" rel="portfolio" title="Dado um valor digitado em um campo de texto, as palavras terão a aparência de uma carta onde cada palavra possui uma estilização própria.">
                        <img src="/images/portfolio/carta.png" alt="" />
                        <div class="label">
                            <div class="label-text">
                                <a href="https://jadsonmattos.github.io/Carta-Misteriosa" target="_blank" class="text-title">Carta Misteriosa</a>
                                <span class="text-category">Fundamentos</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>		
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio fundamentos" data-cat="fundamentos">	
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">		
                    <a href="/images/portfolio/travel.png" rel="portfolio" title="Formulário para concorrer a uma viagem.">
                        <img src="/images/portfolio/travel.png" alt="" />
                        <div class="label">
                            <div class="label-text">
                                <a href="https://jadsonmattos.github.io/Trybe-Travel" target="_blank" class="text-title">Form Travel</a>
                                <span class="text-category">Fundamentos</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>		
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio fundamentos" data-cat="fundamentos">	
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">		
                    <a href="/images/portfolio/techGalery.png" rel="portfolio" title="Página web que é uma galeria de fotos com algumas linguagens e frameworks front-end.">
                        <img src="/images/portfolio/techGalery.png" alt="" />
                        <div class="label">
                            <div class="label-text">
                                <a href="https://jadsonmattos.github.io/Tech-Galery" target="_blank" class="text-title">Tech Gallery</a>
                                <span class="text-category">Fundamentos</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>		
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio fundamentos" data-cat="fundamentos">	
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">		
                    <a href="/images/portfolio/tryflix.png" rel="portfolio" title="Página web que é uma galeria de fotos com algumas linguagens e frameworks front-end.">
                        <img src="/images/portfolio/tryflix.png" alt="" />
                        <div class="label">
                            <div class="label-text">
                                <a href="https://jadsonmattos.github.io/Tryflix" target="_blank" class="text-title">Tryflix</a>
                                <span class="text-category">Fundamentos</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>		
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio fundamentos" data-cat="fundamentos">	
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">		
                    <a href="/images/portfolio/trybewarts.png" rel="portfolio" title="Formulário dinâmico">
                        <img src="/images/portfolio/trybewarts.png" alt="" />
                        <div class="label">
                            <div class="label-text">
                                <a href="https://jadsonmattos.github.io/Trybewarts" target="_blank" class="text-title">Trybewarts</a>
                                <span class="text-category">Fundamentos</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>		
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio frontend" data-cat="frontend">	
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">		
                    <a href="/images/portfolio/generate.png" rel="portfolio" title="Para uma sequência de 12 caracteres e com 30 tentativas aleatórias por segundos, o tempo para “adivinhar” a senha passa dos 10 anos.">
                        <img src="/images/portfolio/generate.png" alt="" />
                        <div class="label">
                            <div class="label-text">
                                <a href="https://generate-pass.surge.sh" target="_blank" class="text-title">Generate Pass</a>
                                <span class="text-category">Front End</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>		
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio frontend" data-cat="frontend">	
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">		
                    <a href="/images/portfolio/validate.png" rel="portfolio" title="Validador de campos.">
                        <img src="/images/portfolio/validate.png" alt="" />
                        <div class="label">
                            <div class="label-text">
                                <a href="https://camps-validation.surge.sh/" target="_blank" class="text-title">Camps Validation</a>
                                <span class="text-category">Front End</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>		
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio frontend" data-cat="frontend">	
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">		
                    <a href="/images/portfolio/microblogs.png" rel="portfolio" title="Página para leitura de posts de várias pessoas.">
                        <img src="/images/portfolio/microblogs.png" alt="" />
                        <div class="label">
                            <div class="label-text">
                                <a href="https://microblogs-app.surge.sh/" target="_blank" class="text-title">Microblogs</a>
                                <span class="text-category">Front End</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>		
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio frontend" data-cat="frontend">	
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">		
                    <a href="/images/portfolio/heroes.png" rel="portfolio" title="Apis heroes and alerts.">
                        <img src="/images/portfolio/heroes.png" alt="" />
                        <div class="label">
                            <div class="label-text">
                                <a href="https://heroes-super.surge.sh/" target="_blank" class="text-title">Super Heroes</a>
                                <span class="text-category">Front End</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>		
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio frontend" data-cat="frontend">	
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">		
                    <a href="/images/portfolio/pet.png" rel="portfolio" title="Aplicação que exibe fotos aleatórias de cães e gatos.">
                        <img src="/images/portfolio/pet.png" alt="" />
                        <div class="label">
                            <div class="label-text">
                                <a href="https://dogsandcats.surge.sh/" target="_blank" class="text-title">Random Pets</a>
                                <span class="text-category">Front End</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>		
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio frontend" data-cat="frontend">	
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">		
                    <a href="/images/portfolio/cambio.png" rel="portfolio" title="O projeto da casa de câmbio é uma aplicação que busca a conversão da taxa de uma moeda para diversas outras.">
                        <img src="/images/portfolio/cambio.png" alt="" />
                        <div class="label">
                            <div class="label-text">
                                <a href="https://exchange-home.surge.sh/" target="_blank" class="text-title">Casa de Câmbio</a>
                                <span class="text-category">Front End</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>		
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio frontend" data-cat="frontend">	
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">		
                    <a href="/images/portfolio/validador.png" rel="portfolio" title="Para verificar CEPs.">
                        <img src="/images/portfolio/validador.png" alt="" />
                        <div class="label">
                            <div class="label-text">
                                <a href="stackblitz.com/edit/vitejs-vite-bqncok" target="_blank" class="text-title">Consulta CEP</a>
                                <span class="text-category">Front End</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>		
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio frontend" data-cat="frontend">	
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">		
                    <a href="/images/portfolio/choveu.png" rel="portfolio" title="Site de previsão do tempo!">
                        <img src="/images/portfolio/choveu.png" alt="" />
                        <div class="label">
                            <div class="label-text">
                                <a href="https://irained.surge.sh/" target="_blank" class="text-title">Previsão do tempo</a>
                                <span class="text-category">Front End</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>		
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio frontend" data-cat="frontend">	
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">		
                    <a href="/images/portfolio/viajando.png" rel="portfolio" title="Componentes reutilizáveis e props em um site de viagens.">
                        <img src="/images/portfolio/viajando.png" alt="" />
                        <div class="label">
                            <div class="label-text">
                                <a href="https://to-viajando.surge.sh/" target="_blank" class="text-title">Tô Viajando</a>
                                <span class="text-category">Front End</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>		
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio frontend" data-cat="frontend">	
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">		
                    <a href="/images/portfolio/system.png" rel="portfolio" title="Planetas e algumas da missões espaciais mais conhecidas com react components.">
                        <img src="/images/portfolio/system.png" alt="" />
                        <div class="label">
                            <div class="label-text">
                                <a href="https://system-solar.surge.sh/" target="_blank" class="text-title">Solar System</a>
                                <span class="text-category">Front End</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>		
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio frontend" data-cat="frontend">	
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">		
                    <a href="/images/portfolio/reads.png" rel="portfolio" title="Lista de leituras utilizando React para gerenciar o estado das listas e também capturar eventos.">
                        <img src="/images/portfolio/reads.png" alt="" />
                        <div class="label">
                            <div class="label-text">
                                <a href="https://lectures.surge.sh/" target="_blank" class="text-title">Best Reads</a>
                                <span class="text-category">Front End</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>		
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio frontend" data-cat="frontend">	
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">		
                    <a href="/images/portfolio/form.png" rel="portfolio" title="Formulários com Event Handlers">
                        <img src="/images/portfolio/form.png" alt="" />
                        <div class="label">
                            <div class="label-text">
                                <a href="https://form-type.surge.sh/" target="_blank" class="text-title">Form React</a>
                                <span class="text-category">Front End</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>		
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio frontend" data-cat="frontend">	
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">		
                    <a href="/images/portfolio/store.png" rel="portfolio" title="Desenvolvimento de um back office para uma loja. O back office deve permitir que o usuário gerencie os produtos, cadastrando-os e excluindo-os.">
                        <img src="/images/portfolio/store.png" alt="" />
                        <div class="label">
                            <div class="label-text">
                                <a href="https://store-back.surge.sh/" target="_blank" class="text-title">Store Back Office</a>
                                <span class="text-category">Front End</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>		
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio frontend" data-cat="frontend">	
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">		
                    <a href="/images/portfolio/password.png" rel="portfolio" title="Gerenciador de senhas">
                        <img src="/images/portfolio/password.png" alt="" />
                        <div class="label">
                            <div class="label-text">
                                <a href="https://manager-pass.surge.sh/" target="_blank" class="text-title">Password Manager</a>
                                <span class="text-category">Front End</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>		
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio frontend" data-cat="frontend">	
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">		
                    <a href="/images/portfolio/coffeeteria.png" rel="portfolio" title="O objetivo da página, além de listar cafés, é direcionar quem utiliza a aplicação para uma página contendo os detalhes do produto.">
                        <img src="/images/portfolio/coffeeteria.png" alt="" />
                        <div class="label">
                            <div class="label-text">
                                <a href="https://coffeeteria.surge.sh/" target="_blank" class="text-title">Coffeeteria</a>
                                <span class="text-category">Front End</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>		
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio frontend" data-cat="frontend">	
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">		
                    <a href="/images/portfolio/wallpaper.png" rel="portfolio" title="Wallpaper com rotas dinâmicas">
                        <img src="/images/portfolio/wallpaper.png" alt="" />
                        <div class="label">
                            <div class="label-text">
                                <a href="https://wallpaper-app.surge.sh/" target="_blank" class="text-title">Wallpapers</a>
                                <span class="text-category">Front End</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>		
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio frontend" data-cat="frontend">	
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">		
                    <a href="/images/portfolio/bloggers.png" rel="portfolio" title="Aplicação que realizará requisições para uma API de _blogs_ e exibir os usuários retornados.">
                        <img src="/images/portfolio/bloggers.png" alt="" />
                        <div class="label">
                            <div class="label-text">
                                <a href="https://bloggerss.surge.sh/" target="_blank" class="text-title">Bloggers</a>
                                <span class="text-category">Front End</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>		
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio frontend" data-cat="frontend">	
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">		
                    <a href="/images/portfolio/doguinho.png" rel="portfolio" title="Página que consome a API dog.ceo de fotos aleatórias de cachorros!">
                        <img src="/images/portfolio/doguinho.png" alt="" />
                        <div class="label">
                            <div class="label-text">
                                <a href="https://images-dog.surge.sh/" target="_blank" class="text-title">Doguinhos</a>
                                <span class="text-category">Front End</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>		
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio frontend" data-cat="frontend">	
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">		
                    <a href="/images/portfolio/twitter.png" rel="portfolio" title="Antigo Twitter">
                        <img src="/images/portfolio/twitter.png" alt="" />
                        <div class="label">
                            <div class="label-text">
                                <a href="https://twitter-coppy.surge.sh/" target="_blank" class="text-title">Twitter Clonado</a>
                                <span class="text-category">Front End</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>		
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio frontend" data-cat="frontend">	
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">		
                    <a href="/images/portfolio/.png" rel="portfolio" title="">
                        <img src="/images/portfolio/.png" alt="" />
                        <div class="label">
                            <div class="label-text">
                                <a href="" target="_blank" class="text-title">Trybe Tunes</a>
                                <span class="text-category">Front End</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>		
            <!-- /.portfolio -->

            <div class="clear"></div>

        </div>
        <!-- #portfoliolist -->
    </div>
    <!-- /.container-portfolio -->
</div>
<!-- End .portfolio -->