<div class="section-wrapper">
    <section class="section projects" id="projects">
        <div class="full-width">
            <div class="section-heading" id="featured-projects-text" data-i18n="projects-title">Projects</div>
            
                <div class="project-technologies">

                    <a id="featured" class="semi-transparent-button with-border white-button" onclick="selected('featured')"><span data-i18n="projects-filter-featured">Featured</span></a>
                    <a id="all" class="semi-transparent-button with-border white-button" onclick="selected('all')"><span data-i18n="projects-filter-all">All</span></a>
                    <a id="fundamentos" class="semi-transparent-button with-border white-button" onclick="selected('fundamentos')"><span data-i18n="projects-filter-fundamentos">Fundamentals</span></a>
                    <a id="frontend" class="semi-transparent-button with-border white-button" onclick="selected('frontend')"><span data-i18n="projects-filter-frontend">Front-end</span></a>
                    <a id="backend" class="semi-transparent-button with-border white-button" onclick="selected('backend')"><span data-i18n="projects-filter-backend">Back-end</span></a>
                    <a id="computer-science" class="semi-transparent-button with-border white-button" onclick="selected('computer-science')"><span data-i18n="projects-filter-cs">Computer Science</span></a>

                </div>

            <div class="projects-wrapper">
            <!-- filled in by js -->
            </div>
        </div>
    </section>
</div>
